* {
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to top, #E17564, #C5BAFF);
}
.note-container {
    margin:70px 0 0 100px;
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    
}
.heading {
    display: flex;
}
.book-img {
    height:80px;
    width:80px;
    border-radius: 20px;
    margin-left: 10px;
    border: 2px dashed black;
}
h1 {
    font-weight: 700;
    font-family:𝖈𝖚𝖗𝖘𝖎𝖛𝖊 ;
    margin-left:20px ;
    position: relative;
    top:30px;
    color: #0b0334;
}
.note-creater {
    width:120px;
    height:35px;
    font-size: 1rem;
    position: relative;
    top:15px;
    left:10px;
    border-radius: 20px;
    padding:5px;
    background-color: #4C585B;
    color:#fff;
    box-shadow: 2px 2px 10px #4C585B;
    outline: none;
}
.input {
    width:100%;
    max-width: 500px;
    height:150px;
    outline: none;
    position:relative;
    top:30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    font-size: 1rem;
}
.input-space img {
    height:50px;
    width:50px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}